@import "_constant";
@import "_mixins";

button, input[type="button"], .btn {
  padding: 10px 25px;
  border-radius: 2px;
  height: 40px;
  @include transition(all 0.3s ease);

  &.btn- {
    &small {
      font-size: 12px;
      padding: 6px 25px;
      height: 30px;
    }

    &large {
      font-size: 18px;
      padding: 12px 25px;
      height: 50px;
    }
  }

  &.disabled, &[disabled] {
    opacity: 0.5;
    pointer-events: none;
  }

  &.btn-rounded {
    border-radius: 25px;
  }

  &.btn-icon {
    padding: 4px 14px;
  }

  .btn-loading {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

/*Button Groups*/
.btn-group {
  overflow: hidden;

  button, input[type="button"], .btn {
    display: inline;
    margin: 0;
    padding: 4px 14px;
    border-radius: 0;

    &:first-child {
      border-right-width: 0;
      border-radius: 2px 0 0 2px;
    }

    &:last-child {
      border-left-width: 0;
      border-radius: 0 2px 2px 0;
    }
  }
}
