@import "_constant";

.range-slider {
  input[type=range] {
    -webkit-appearance: none;
    &:focus {
      outline: none;
    }

    &::-webkit-slider-runnable-track {
      width: 100%;
      height: 5px;
      cursor: pointer;
    }

    &::-webkit-slider-thumb {
      height: 0;
      width: 0;
      border-radius: 50%;
      border: 11px solid $primary;
      cursor: pointer;
      -webkit-appearance: none;
      margin-top: -8px;
    }

    &::-moz-range-track {
      width: 100%;
      height: 5px;
      cursor: pointer;
      background: $gray-light;
      border-radius: 25px;
    }

    &::-moz-range-thumb {
      height: 0;
      width: 0;
      border-radius: 50%;
      border: 11px solid $primary;
      cursor: pointer;
    }

    &::-moz-range-progress {
      background: $gray-light;
    }

    &::-ms-track {
      width: 100%;
      height: 5px;
      cursor: pointer;
      background: transparent;
      border-color: transparent;
      border-width: 20px 0;
      color: transparent;
    }

    &::-ms-fill-lower {
      background: $gray-light;
      border-radius: 50px;
    }

    &::-ms-fill-upper {
      background: $gray-light;
      border-radius: 50px;
    }

    &::-ms-thumb {
      height: 0;
      width: 0;
      border-radius: 50%;
      border: 11px solid $primary;
      cursor: pointer;
    }

    &:focus::-ms-fill-lower {
      background: $gray-light;
    }

    &:focus::-ms-fill-upper {
      background: $gray-light;
    }
  }

  .range-output {
    top: -48px;
    left: 0;
    width: 90px;
    box-shadow: 0 0 2px $gray;
    &:after {
      content: '';
      position: absolute;
      bottom:-12px;
      left: 50%;
      width: 0;
      height: 0;
      border: 6px solid transparent;
      border-top-color: $gray;
      margin-left: -6px;
    }
  }
}

