@import "_constant";
@import "_mixins";

table {
  &.table-hover {
    tbody {
      tr:hover:not(.hidden-row):not(.filter-row) {
        background-color: $gray-lighter;
      }
    }
  }

  td.expand {
    cursor: pointer;

    &:before {
      content: '\f067';
      font-family: FontAwesome;
      padding-right: 5px;
      color: $gray;
    }
  }

  tr.expanded {
    td.expand:before {
      content: '\f068';
    }

    + tr.hidden-row {
      display: table-row;
    }
  }
}

/*Responsive Table Hidden Row*/
.hidden-row {
  ul {
    display: table;

    li {
      display: table-row;

      > div {
        display: table-cell;
      }
    }
  }
}