@import "constant";

.tab-list {
  a {
    &:last-child {
      position: relative;

      &:before {
        content: '';
        position: absolute;
        bottom: -2px;
        left: 0;
        width: 100%;
        height: 0;
        border-top: 3px solid $success;
        border-radius: 5px;
        transition: left ease 0.3s;
      }
    }

    &:global(.selected):nth-child(1) + a:before {
      left: -100%;
    }

    &:global(.selected):nth-child(1) + a + a:before {
      left: -200%;
    }

    &:global(.selected):nth-child(1) + a + a + a:before {
      left: -300%;
    }

    &:global(.selected):nth-child(1) + a + a + a + a:before {
      left: -400%;
    }

    &:global(.selected):nth-child(2) + a:before {
      left: -100%
    }

    &:global(.selected):nth-child(2) + a + a:before {
      left: -200%
    }

    &:global(.selected):nth-child(2) + a + a + a:before {
      left: -300%
    }

    &:global(.selected):nth-child(3) + a:before {
      left: -100%
    }

    &:global(.selected):nth-child(3) + a + a:before {
      left: -200%
    }

    &:global(.selected):nth-child(4) + a:before {
      left: -100%
    }

  }
}