@import "_constant";
@import "_mixins";

:global(#app) {
  display: flex;
  flex-direction: column;
  height: 100%;
}

:global(.active-menu) {
  color: $theme;
  font-weight: bold;
}

.responsive-nav-handle {
  width: 30px;
  height: 26px;
  background: none;
  display: none;

  .nav-handle-inner {
    position: absolute;
    width: 30px;
    height: 4px;
    transition-timing-function: ease;
    transition-duration: .15s;
    transition-property: transform;
    border-radius: 4px;
    background-color: #29323B;
    top: 2px;
    left: 0;

    &:before, &:after {
      content: '';
      left: 0;
      position: absolute;
      width: 30px;
      height: 4px;
      transition-timing-function: ease;
      transition-duration: .15s;
      transition-property: transform;
      border-radius: 4px;
      background-color: #29323B;
    }

    &:before {
      top: 10px;
    }

    &:after {
      bottom: -10px;
      top: 20px;
    }
  }

  &.active {
    .nav-handle-inner {
      transform: translate3d(0, 10px, 0) rotate(45deg);

      &:before {
        display: none;
      }

      &:after {
        transform: translate3d(0, -20px, 0) rotate(-90deg);
      }
    }
  }
}

.slider-item {
  flex: 0 0 100%;
}

.profile-image {
  width: 50%;
}


.home-banner {
  background: url('images/banner-bg.jpg') center center no-repeat;
  background-size: 100% 100%;
}


@include small-up {
  .slider-item {
    flex: 0 0 50%;
  }

  .home-banner {
    background-size: 100% 100%;
    height: 487px;
  }

}

@include medium-only {
  .home-feature {
    background-position: left bottom;
    background-size: auto 100%;
  }
  .client-review {
    background-position: right bottom;
    background-size: auto 100%;
  }

}

@include medium-up {
  .lady-bg {
    background: url('images/lady.png') 95% center no-repeat;
  }
  .home-feature {
    height: 500px;
    background-image: url('images/feature.png');
    background-position: 0 bottom;
    background-repeat: no-repeat;
  }

  .client-review {
    height: 500px;
    background-image: url('images/review.jpg');
    background-position: 100% bottom;
    background-repeat: no-repeat;
  }
  .slider-item {
    flex: 0 0 33.34%;
  }
}

@include large-up {
  .slider-item {
    flex: 0 0 25%;
  }
}

@include large-down {
  .header {
    justify-content: space-between;
  }
  .header-button {
    flex: 0 0 100%
  }
  .navigation-menu {
    position: fixed;
    top: 90px;
    width: 100%;
    height: 100%;
    background: $white;
    z-index: 100;
    flex-direction: column;
    right: -100%;
    transition: right ease 0.4s;

    &.active {
      display: flex;
      align-items: stretch;
      text-align: center;
      right: 0;

      a {
        font-size: 22px;
        padding: 20px 0;
        margin: 0;
        border-bottom: 1px solid $gray-light;
      }
    }
  }
}

@include extra-large {
  .home-feature {
    background-position: 50px bottom;
  }
  .client-review {
    background-position: 90% bottom;
  }
  .slider-item {
    flex: 0 0 20%;
  }
}
